{% extends "event/base.html" %}
{% block title %}
    Contact-Nous
{% endblock title %}
{% block content %}
    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="text-primary text-center mt-4 mb-3 scroll-animated">Contactez-nous</h2>
            <!-- Informations de Contact -->
            <div class="row g-4 align-items-center">
                <!-- Numéro de téléphone -->
                <div class="col-md-4 scroll-animated">
                    <div class="card p-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-phone-alt text-primary me-3" style="font-size: 40px;"></i>
                            <div>
                                <h5 class="text-primary">Téléphone</h5>
                                <span class="mb-0 fw-bold fs-5">+224 620 30 26 18</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adresse Email -->
                <div class="col-md-4 scroll-animated">
                    <div class="card p-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-envelope text-primary me-3" style="font-size: 40px;"></i>
                            <div>
                                <h5 class="text-primary">Email</h5>
                                <p class="mb-0 fw-bold fs-5">proevent62@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adresse Physique -->
                <div class="col-md-4 scroll-animated">
                    <div class="card p-4 shadow-sm">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-map-marker-alt text-primary me-3"
                               style="font-size: 40px"></i>
                            <div>
                                <h5 class="text-primary">Adresse</h5>
                                <p class="mb-0 fw-bold fs-5">Conakry, Guinée Coja</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Réseaux sociaux -->
            <div class="text-center my-5 scroll-animated">
                <h5 class="text-primary mb-3">Suivez-nous sur les réseaux sociaux</h5>
                <div class="social-links justify-content-center">
                    <a href="https://www.facebook.com/share/15d1xSfAqM/" class="text-white"><i class="fab fa-facebook"></i></a>
                    <a href="https://wa.me/224613119024" class="text-white"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.linkedin.com/company/proeven/" class="text-white"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <!-- Formulaire de Contact -->
            <div class="row justify-content-center">
                <div class="col-md-10 scroll-animated">
                    <form class="p-4 shadow-sm card" method="post">
                        {% csrf_token %}
                        <h5 class="text-primary text-center mb-4">Laissez-nous un message</h5>
                        {% if messages %}
                            {% for message in messages %}<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>{% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.name.id_for_label }}" class="form-label">Nom</label>
                                    {{ form.name }}
                                    {% if form.name.errors %}<div class="text-danger">{{ form.name.errors }}</div>{% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                                    {{ form.email }}
                                    {% if form.email.errors %}<div class="text-danger">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.subject.id_for_label }}" class="form-label">Objet</label>
                            {{ form.subject }}
                            {% if form.subject.errors %}<div class="text-danger">{{ form.subject.errors }}</div>{% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.message.id_for_label }}" class="form-label">Message</label>
                            {{ form.message }}
                            {% if form.message.errors %}<div class="text-danger">{{ form.message.errors }}</div>{% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.captcha }}
                            {% if form.captcha.errors %}<div class="text-danger">{{ form.captcha.errors }}</div>{% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
